<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="/css/signup-login.css">    
    <title>Admin Login</title>
</head>  
<body class="bg-light  mt-4">

    <div class="container login-signup-card">
        <div class="card pt-4 pb-4">
            <form action="/admin/random_letters/login " method="POST" class="login-signup-form m-auto container p-4 login-form">
                <div class="m-auto ml-4">
                    <% if(message.wrongCredentials.length){ %>
                        <div class="alert alert-warning p-2 text-center">
                                <%-message.wrongCredentials%> 
                        </div>
                        <% } %>
                        
                    <label for="username" class="mt-1">Username</label>
                    <input type="text" name="username" id="username" value=<%= message.loginUsername %> >
                    <div class="error-description username-error"></div>

                    <label for="password" class="mt-1">Set Password</label>
                    <input type="password" name="password" id="password">
                    <div class="error-description password-error"></div>

                    <input type="Button" class="d-block submit mt-3 btn btn-primary" value="login">
                </div>
            </form>
        </div>            
    </div>
  
    <script type="text/javascript" src="/js/validator.min.js"></script>
    <script type="text/javascript" src="/js/admin-login.js"></script>

</body>
</html>