<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/footer.css">
</head>
<body>
    <footer class="container-fluid bg-secondary">
        <div class="row">
            <div class="col-md-4">
                <H4>About Us</H4>
                <p>
                    We intend to put smile on our customer's face by
                    providing them with the best quality products with 
                    best price and as fast as possible. Keep Gifting 
                    Keep Loving
                </p>
            </div>


            <div class="col-md-4 col-6">
                <H3>
                    Site Links
                </H3>
                <ul>
                    <li><a class="site-link" href="#">Contact Us</a></li>
                    <li><a class="site-link" href="#">about Us</a></li>
                    <li><a class="site-link" href="#">Blogs</a></li>
                    <li><a class="site-link" href="#">FAQs</a></li>
                    <li><a class="site-link" href="#">Partners</a></li>
                </ul>

            </div>
            <div class="col-md-4 col-6">
                <H3>Social Media</H3>
                <ul>
                    <li><a class="site-link" href="#">Facebook</a></li>
                    <li><a class="site-link" href="#">Instagram</a></li>
                    <li><a class="site-link" href="#">Twitter</a></li>
                </ul>              
            </div>
        </div>
    </footer>
</body>
</html>