<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>

</head>
<body>

    <form class="login-form m-auto container p-4" action="/login" method="POST">
        <div class="fit-content m-auto ml-4">
            <label for="name" class="mt-1">Full Name</label>
            <input type="text" id="name">

            <label for="email" class="mt-1">Email Id</label>
            <input type="text" id="email">

            <label for="phone_number" class="mt-1">Phone Number</label>
            <input type="text" id="phone_number">

            <label for="password" class="mt-1">Set Password</label>
            <input type="password" id="password">

            <label for="confirm_password" class="mt-1">Confirm Password</label>
            <input type="password" id="confirm_password">

            <input type="Submit" class="d-block mt-3 btn btn-primary" value="Signup">
        </div>
    </form>
    
</body>
</html>

