<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Slider</title>
            
        <link rel="stylesheet" href="css/slider.css">

    </style>

</head>
<body>
    <div class="container">    
        <div class="div-block">
            <img src="images/pre.png" class="left" >
            <img src="images/next.png" class="right" >
            <div class="slider">
                <span class="slide">0</span>
                <span class="slide">1</span>
                <span class="slide">2</span>
                <span class="slide">3</span>
                <span class="slide">4</span>
                <span class="slide">5</span>
                <span class="slide">6</span>
            </div>
        </div>
    </div>
    <script src="js/slider.js"> </script>
</body>
</html>