<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/board.css">
</head> 
<body>
    <div class="background">
    <div class="container-fluid theme-color opacity-1 mt-1 p-0 pt-4 pb-4 ">
        <div class="board">
            <div class="container">
                Personalize Gifts. <br>
                 Choose, Customize and Order
            </div>
        </div>
        <div class="container-fluid mt-4">
            <%-include('image_slider')%>
        </div>
    </div>
    </div>
</body>
</html>