<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %> </title>
    <link rel="stylesheet" href="/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/admin/admin.css">
    <link rel="stylesheet" href="/css/admin/add-category.css">   
    <link rel="stylesheet" href="/css/admin/category.css"> 
</head>
<body class="p-o">
        <script>
                function heightlight(link){
                        link.style.backgroundColor = "#ADEFD1"
                        link.style.color = "#2a3032"
                }
        </script>
        <div class="full-height container-fluid m-0  row g-0">

                <div class="col-12 col-md-4 col-lg-3 col-xl-2 navigation p-0">
                        <div class="admin-feature-link-container mt-1 d-flex"><a class= "admin-feature-link btn btn-dark d-flex" href="/admin/random_letters/admin-panel">Product Management</a></div>  
                        <div class="admin-feature-link-container mt-1 d-flex"><a class= "admin-feature-link btn btn-dark d-flex" href="#">This is a Link</a></div>  
                        <div class="admin-feature-link-container mt-1 d-flex"><a class= "admin-feature-link btn btn-dark d-flex" href="#">This is a Link</a></div>  
                        <div class="admin-feature-link-container mt-1 d-flex"><a class= "admin-feature-link btn btn-dark d-flex" href="#">This is a Link</a></div>  
                        <div class="admin-feature-link-container mt-1 d-flex"><a class= "admin-feature-link btn btn-dark d-flex" href="#">This is a Link</a></div>  
                        <div class="admin-feature-link-container mt-1 d-flex"><a class= "admin-feature-link btn btn-dark d-flex" href="#">This is a Link</a></div>  
                        <div class="admin-feature-link-container mt-1 d-flex"><a class= "admin-feature-link btn btn-dark d-flex" href="#">This is a Link</a></div>  
                </div>
        <div class="col-12 col-md-8 col-lg-9 full-height work-area col-xl-10">